<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2_Course_Work.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_2_Course_Work.Properties.Settings>
            <setting name="StructureFindFormByYears_checkBox_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StructureFindFormByPublisher_checkBox_Checked"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StructureFindFormFromYear_numeric_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StructureFindFormToYear_numeric_Value" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="StructureFindFormPublisher_textBox_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="StructureFindFormByName_checkBox_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StructureFindFormName_textBox_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="NameFindForm_Name_textBox_Text" serializeAs="String">
                <value />
            </setting>
        </_2_Course_Work.Properties.Settings>
    </userSettings>
</configuration>